<div class="event">
            <div class="content">
              <div class="summary">
                <tbody>
              <tr>
               <td><%= message.user.username %></td>: 
               <td><%= message.body %> </td>
              </tr>
               </tbody>
            </div>
          </div>
        </div>