@import "semantic-ui";


.chat_title{
    
    text-align:center;
    font-size: 1.3em;
    color: #3C7FCD;
  

}


.chatbox{
    height:450px;
}

.loginpage {
  text-align:center;
    font-size: 1.7em;
    color: #3C7FCD;
   
}

.login_title{
   text-align:center;
    font-size: 1.2em;
    color: #3C7FCD;
   
}